<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deleted</title>
  </head>
  <body>
    <h3><%= @name %> was successfully deleted.</h3>
    <p><a href="/recipes"> Return To Index</a></p> 
  </body>
</html>
