<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    NEW Recipe <p></p>
    <form class="" action="/recipes" method="post">
      name<input type="text" name="name" value=""><br>
      ingredients<input type="text" name="ingredients" value=""><br>
      cook_time<input type="text" name="cook_time" value=""><br>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
