<form method="post" action="/recipes">
  Name: <input type="text" name="name"></input>
  Ingredients: <input type="text" name="ingredients"></input>
  Cook Time: <input type="text" name="cook_time"></input>

  <button type="button">submit</button>
  <input type="submit" value="Submit"></input>
</form>
