<h1>Showing the Recipe!</h1>
<h2>Name: <%= @recipe.name %></h2>
<p>Description: <%= @recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time %> minutes</p>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
